{% extends "base.html" %}

{% block title %}文章列表{% end %}

{% block body %}
<div class="col-md-offset-2 col-md-8">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>删除</th>
            <th>编辑</th>
            <th>序号</th>
            <th>标题</th>
            <th>作者</th>
            <th>类型</th>
            <th>状态</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>

        {% for one in archive_list %}
        <tr>
            <th>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-danger" href="#" onclick="archive_del({{ one.id }})">删除</a>
                    </div>
                </div>
            </th>
            <th>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-success" href="/admin/archive/edit/{{ one.id }}">编辑</a>
                    </div>
                </div>
            </th>
            <th>{{ one.id }}</th>
            <th>{{ one.title }}</th>
            <th>{{ one.author.nickname }}</th>
            <th>{% if one.type == 0 %}文章{% else %}单页{% end %}</th>
            <th>{% if one.status == 0 %}未发布{% else %}已经发布{% end %}</th>
            <th>{{ humantime(one.created_time) }}</th>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>

{% end %}