{% extends "base.html" %}

{% block title %}创建文章{% end %}

{% block body %}
<div class="form-horizontal col-md-12">
    <input value="" id="archive_id" style="display: none">
    <div class="form-group">
        <div class="col-md-12">
            <label for="title" class="control-label">标题</label>
            <input type="text" value="" placeholder="标题" class="form-control" id="title">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label for="slug" class="control-label">自定义连接</label>
            <input type="text" value="" placeholder="自定义连接" class="form-control" id="slug">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label for="slug" class="control-label">文章</label>
            <div id="content">
                <textarea style="display:none;"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">选择类型</label>
            <select class="form-control" id="type">
                <option value="0" selected>文章</option>
                <option value="1">单页</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button class="btn btn-success btn-lg btn-block" id="archive_add_submit">发布</button>
        </div>
    </div>
    <link href="{{ static_admin_url('editor.md/css/editormd.css') }}" rel="stylesheet">
    <script src="{{ static_admin_url('editor.md/editormd.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var editor;
            $(function () {
                editor = editormd("content", {
                    height: 500,
                    path: "{{ static_admin_url('editor.md/lib/') }}"
                });

            });

        })
    </script>
</div>
{% end %}