{% extends "base.html" %}

{% block title %}新增用户{% end %}

{% block body %}
<div class="form-horizontal col-md-offset-2 col-md-8">
    <input value="" id="user_id" style="display: none">
    <div class="form-group">
        <label for="username" class="col-sm-offset-2 col-sm-2 control-label">用户名</label>
        <div class="col-sm-4">
            <input type="text" value="" placeholder="用户名" disabled class="form-control" id="username">
        </div>
    </div>
    <div class="form-group">
        <label for="nickname" class="col-sm-offset-2 col-sm-2 control-label">昵称</label>
        <div class="col-sm-4">
            <input type="text" value="" placeholder="昵称" class="form-control" id="nickname">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-offset-2 col-sm-2 control-label">密码</label>
        <div class="col-sm-4">
            <input type="text" value="" placeholder="不修改则为空" class="form-control" id="password">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-offset-2 col-sm-2 control-label">邮箱</label>
        <div class="col-sm-4">
            <input type="text" value="" placeholder="邮箱" class="form-control" id="email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-2 col-sm-2 control-label">选择角色</label>
        <div class="controls col-sm-4">
            <select class="form-control" id="role">
                <option value="0" selected>普通用户</option>
                <option value="1">管理员</option>
            </select>
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button class="btn btn-success btn-lg btn-block" id="user_add_submit">添加</button>
        </div>
    </div>
</div>
{% end %}