{% extends "base.html" %}

{% block title %}用户列表{% end %}

{% block body %}
<div class="col-md-offset-2 col-md-8">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>编辑</th>
            <th>序号</th>
            <th>角色</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>最后登录IP</th>
            <th>最后登录时间</th>
        </tr>
        </thead>
        <tbody>

        {% for one in user_list %}
        <tr>
            <th>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-success book-edit" href="/admin/user/edit/{{ one.id }}">编辑</a>
                    </div>
                </div>
            </th>
            <th>{{ one.id }}</th>
            <th>{{ one.get_role }}</th>
            <th>{{ one.username }}</th>
            <th>{{ one.nickname }}</th>
            <th>{{ one.email }}</th>
            <th>{{ one.last_ip }}</th>
            <th>{{ humantime(one.last_time)}}</th>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>

{% end %}