"site":
  "title": "野蛮人の洞窟"
  "theme": "mdl"
  "description": ""
  "motto": "啦啦啦"
  "email": "i@ymr.me"
  "nickname": "Nightsuki"
  "avatar": "https://ymr.me/logo.png"
  "url": "https://ymr.me/"
"database":
  "dev":
      "host": "localhost"
      "port": !!int "3306"
      "user": "user"
      "password": "123456"
      "dbname": "avdir"
  "prod":
      "host": "localhost"
      "port": !!int "3306"
      "user": "user"
      "password": "123456"
      "dbname": "avdir"

