{% extends "base.html" %}
{% block first_title %}{{ archive.title }}{% end %}
{% block body %}
<div class="body-wrap">
            <article id="post-hack-in-localstorage" class="article article-type-post" itemscope itemprop="blogPost">

                <div class="article-meta">
                    <a href="/archive/{{ archive.slug }}" class="article-date">
                        <time datetime="{{ humantime(archive.published_time, '%Y-%m-%dT%H:%M:%S.000Z') }}" itemprop="datePublished">{{ humantime(archive.published_time, "%Y-%m-%d") }}</time>
                    </a>
                </div>

                <div class="article-inner">

                    <input type="hidden" class="isFancy"/>
                    <header class="article-header">
                        <h1 class="article-title" itemprop="name">
                            {{ archive.title }}
                        </h1>
                    </header>

                    <div class="article-info article-info-post">
                        <div class="article-tag tagcloud">
                            <ul class="article-tag-list">
                                {% for tag in archive.get_tags() %}
                                <li class="article-tag-list-item"><a class="article-tag-list-link"
                                                                     href="/tag/{{ tag }}">{{ tag }}</a></li>
                                {% end %}
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="article-entry" itemprop="articleBody">
                        {{ archive.content }}
                    </div>
                </div>
            </article>

            {% include "comment.html" %}
        </div>
{% end %}