<nav id="mobile-nav">
    <div class="overlay">
        <h1 class="header-author js-mobile-header hide">{{ nickname }}</h1>
    </div>
    <div class="intrude-less">
        <header id="header" class="inner">
            <div class="profilepic">

                <img src="{{ avatar }}" class="js-avatar">

            </div>
            <hgroup>
                <h1 class="header-author">{{ nickname }}</h1>
            </hgroup>

            <p class="header-subtitle">{{ motto }}</p>

            <nav class="header-menu">
                <ul>

                    <li><a href="/">Home</a></li>

                    <li><a href="/archives">Archives</a></li>

                    <li><a href="/about">About & Links</a></li>

                    <div class="clearfix"></div>
                </ul>
            </nav>
        </header>
    </div>
</nav>