<div class="left-col">
        <div class="overlay"></div>
        <div class="intrude-less">
            <header id="header" class="inner">
                <a href="/" class="profilepic">
                    <img src="{{ avatar }}" class="js-avatar">
                </a>

                <hgroup>
                    <h1 class="header-author"><a href="/">{{ nickname }}</a></h1>
                </hgroup>

                <p class="header-subtitle">{{ motto }}</p>
                <p class="header-subtitle"><i>{{ email }}</i></p>

                <div class="switch-area">
                    <div class="switch-wrap">
                        <section class="switch-part switch-part1">
                            <nav class="header-menu">
                                <ul>

                                    <li><a href="/">Home</a></li>

                                    <li><a href="/archives">Archives</a></li>

                                    <li><a href="/about">About & Links</a></li>

                                </ul>
                            </nav>
                        </section>

                    </div>
                </div>
            </header>
        </div>
    </div>